---
layout: default
---

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ page.title }}</h1>
    {% if page.jumbo_txt %}
      <div class="lead">{{ page.jumbo_txt | markdownify }}</div>
    {% endif %}
  </div>
</div>

<div class="container">

  <!-- Overview -->
  <div class="row">
    <div class="col">
      <div class="card mb-3 border-0">
        <div class="card-body">
          <h4 class="card-title">Overview</h4>
          <p class="card-text">{{ page.overview | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Projects -->
  {% for project in site.data.projects %}
    <div class="row">
      <div class="col">
        <div class="card mb-3">

          {% case project.image_pos %}

          {% when "left" %}
          <div class="row no-gutters">
            <div class="col-4 p-2">
              <img src="{{ project.image | relative_url }}" class="img-fluid" alt="">
            </div>
            <div class="col">
              <div class="card-body">
                <h4 class="card-title">{{ project.project }}</h4>
                <div class="card-text">{{ project.description | markdownify }}</div>
              </div>
            </div>
          </div>

          {% when "right" %}
          <div class="row no-gutters">
            <div class="col">
              <div class="card-body">
                <h4 class="card-title">{{ project.project }}</h4>
                <div class="card-text">{{ project.description | markdownify }}</div>
              </div>
            </div>
            <div class="col-4 p-2">
              <img src="{{ project.image | relative_url }}" class="img-fluid" alt="">
            </div>
          </div>

          {% when "bottom" %}
          <div class="card-body">
            <h4 class="card-title">{{ project.project }}</h4>
            <div class="card-text">{{ project.description | markdownify }}</div>
          </div>
          {% if project.image %}
            <img class="card-img-bottom" src="{{ project.image | relative_url }}" alt="">
          {% endif %}

          {% else %}
          <img class="card-img-top" src="{{ project.image | relative_url }}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{ project.project }}</h4>
            <div class="card-text">{{ project.description | markdownify }}</div>
          </div>

          {% endcase %}

        </div>
      </div>
    </div>
  {% endfor %}

</div>
